<section class="cover">
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-12">
            <div>
                <h1 class="pb-4">Get a fair, all-cash offer for your house you can trust.</h1>
                <p class="pb-4">We buy houses for cash and with 25 years of experience, we know how to make selling fast, easy, and hassle-free.</p>
    
            </div>
            <div>
                <input name="address" type="text" class="form-control" placeholder="Enter your property address" aria-label="Enter you address"
                  aria-describedby="button-addon2" #addressInput #inputField>
          
                <button class="btn btn-success my-3">Get a Cash Offer</button>
            </div>
          
        </div>
    </div>
</div>
</section>
