<section class="cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div>
                    <h1 class="pb-4">Get a fair, all-cash offer for your house you can trust.</h1>
                    <p class="pb-4">We buy houses for cash and with 25 years of experience, we know how to make selling
                        fast, easy, and hassle-free.</p>

                </div>
                <div>
                    <input name="address" type="text" class="form-control" placeholder="Enter your property address"
                        aria-label="Enter you address" aria-describedby="button-addon2" #addressInput #inputField>

                    <button class="btn btn-success my-3">Get a Cash Offer</button>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="sell-house-in-three-steps">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center ">
            <div class="col-lg-10">
                <div class="content">
                    <p class="section-title pb-2">We Buy Ugly Houses<sup>®</sup> Proven Process</p>
                    <h2 class="section-subheading">Sell your house in three easy steps.</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center pt-5 g-5">
            <div class="col-lg-4">
                <div class="row text-center">
                    <div class="col-12 pb-lg-5 pb-0">
                        <img src="https://www.webuyuglyhouses.com/getmedia/1e799fd1-9c8a-45eb-956f-d5abb28b7c6d/clipboard.png"
                            alt="">
                    </div>
                    <div class="col-12">
                        <div class="content">
                            <p>Let's Talk</p>
                            <p>Our property specialist will give you a free, no-obligation
                                consultation at your convenience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row text-center">
                    <div class="col-12  pb-lg-5 pb-0">
                        <img src="https://www.webuyuglyhouses.com/getmedia/3a603fbc-81b6-4056-8d65-7e4579b583ae/second-column-svg.png"
                            alt="">
                    </div>
                    <div class="col-12">
                        <div class="content">
                            <p>Get a Fair Cash Offer</p>
                            <p>You sell directly to us. That means absolutely no expensive real estate agent
                                commissions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row text-center">
                    <div class="col-12  pb-lg-5 pb-0">
                        <img src="https://www.webuyuglyhouses.com/getmedia/0b8c2da3-d367-4a55-8155-3f8f3ddf2190/timer.png"
                            alt="">
                    </div>
                    <div class="col-12">
                        <div class="content">
                            <p>A Fast Closing</p>
                            <p>Avoid the hassle of showings and open houses. We can close as quickly, or as slowly, as
                                you want.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center pt-5">
            <div class="col-lg-3 col-md-4 col-12">
                <a href="how-does-it-work" class="btn btn-danger p-3">See How it works</a>
            </div>
        </div>
    </div>
</section>

<section class="meet-one-of-the-local-home-buyer">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center content-top">
            <div class="col-lg-10 col-12 ">
                <p class="subheadline">MEET ONE OF THE LOCAL HOME BUYERS IN YOUR NEIGHBORHOOD</p>
                <h2 class="fw-bold">Work directly with a friendly face in your area.</h2>
                <img alt="MEET ONE OF THE LOCAL HOME BUYERS IN YOUR NEIGHBORHOOD"
                    src="https://www.webuyuglyhouses.com/getmedia/806313cb-d4f2-45a8-b884-570a058d9f42/WBUH-25-Years-Experience-140k-Houses-Purchased-Horizontal.svg"
                    loading="lazy" data-uw-rm-alt-original="MEET ONE OF THE LOCAL HOME BUYERS IN YOUR NEIGHBORHOOD"
                    width="90%">

            </div>
        </div>
        <div class="row justify-content-center align-items-end text-center content-bottom">
            <div class="col-lg-3 col-md-4 col-12">
                <a href="locations" class="btn btn-warning p-3">Find Your Location</a>
            </div>
        </div>
    </div>
</section>


<section class="experience">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center ">
            <div class="col-lg-10">
                <div class="content">
                    <p class="section-title pb-2">We have over 25 years of experience resolving tough situations.</p>
                    <h2 class="section-subheading">When to work with We Buy Ugly Houses<sup>®</sup></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center pt-5">
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://www.webuyuglyhouses.com/images/WBUH-WTUU-Repairs.svg" width="50" alt="">
                <p class="heading-link pt-3"><a href="">Expensive Repairs</a></p>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://www.webuyuglyhouses.com/images/WBUH-WTUU-Financial.svg" width="50" alt="">
                <p class="heading-link pt-3"><a href="">Relocating</a></p>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://www.webuyuglyhouses.com/images/WBUH-WTUU-Financial.svg" width="50" alt="">
                <p class="heading-link pt-3"><a href=""> Financial Issues</a></p>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://www.webuyuglyhouses.com/images/WBUH-WTUU-Rental.svg" width="50" alt="">
                <p class="heading-link pt-3"><a href="">Problematic Rental</a></p>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://www.webuyuglyhouses.com/images/WBUH-WTUU-Downsizing.svg" width="50" alt="">
                <p class="heading-link pt-3"><a href="">Downsizing</a></p>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://www.webuyuglyhouses.com/images/WBUH-WTUU-Inheriting.svg" width="50" alt="">
                <p class="heading-link pt-3"><a href="">Inheriting House</a></p>
            </div>
        </div>
    </div>
</section>

<section class="what-you-can-expect">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center ">
            <div class="col-lg-10">
                <div class="content">
                    <p class="section-title pb-2">HERE'S WHAT YOU CAN EXPECT WHEN YOU WORK WITH US</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center ">
            <div class="col-lg-12">
                <img src="https://www.webuyuglyhouses.com/getmedia/39884b8b-6894-4bb2-b8ff-161ff98535bc/WBUH-HVA-Advantage-Tablet-Desktop.svg"
                    alt="">
                <p class="my-4">After signing the contract to accept an offer, you have the next three days to consider
                    your
                    decision. If you change your mind during this option period, you can cancel the contract by
                    notifying your property specialist in writing.</p>
                <a class="btn btn-success p-3" href="">Get a cash Offer</a>
            </div>
        </div>
    </div>
</section>


<section class="faqs">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center ">
            <div class="col-lg-10">
                <div class="content">
                    <p class="section-title pb-2">HAVE MORE QUESTIONS?</p>
                    <h2 class="section-subheading">Read our FAQs</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center pt-5">
            <div class="col-lg-3 col-md-4 col-12">
                <a href="faqs" class="btn btn-outline-success p-3">View more faqs</a>
            </div>
        </div>
    </div>
</section>

<section class="small-intro">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-2">
                <img src="https://www.webuyuglyhouses.com/images/ug-hero-copyright-198x248px.png" width="100%" alt="">
            </div>
            <div class="col-lg-10">
                <h5>Why is We Buy Ugly Houses® America’s #1 home buyer? Cash for houses is only the beginning.</h5>
                <p>There’s just no faster or easier way to sell your house than selling to We Buy Ugly Houses®. We pay
                    cash for houses “as is”—you don’t spend money and time on painting or cleaning, and you don’t have
                    to wait while your house sits on the market. We can give you our fair cash offer at our first
                    meeting and generally close in as fast as three weeks. Unlike other cash buyers, we don’t charge
                    commissions and we pay typical closing costs.</p>
            </div>
        </div>
    </div>
</section>

<section class="contact-info">
    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="col-lg-2">
                <img src="https://www.webuyuglyhouses.com/getmedia/e394bb8b-b0ae-4d0a-8d20-694ae6edf80b/WBUH-Logo-Horizontal.svg?ext=.svg"
                    width="100%" alt="">
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <h4> <img src="https://www.webuyuglyhouses.com/images/phone.svg" width="18" alt=""> 866-399-3920 </h4>

            </div>
            <div class="col-lg-1">
                <p>or</p>
            </div>
            <div class="col-lg-3">

                <a class="btn btn-success p-3" href="">Request a consultation</a>
            </div>
        </div>
    </div>
</section>