<section class="cover">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div>
                <h1>Get a fair, all-cash offer for your house you can trust.</h1>
                <p>We buy houses for cash and with 25 years of experience, we know how to make selling fast, easy, and hassle-free.</p>
    
            </div>
            <div>
                <button class="btn btn-success">Get a Cash Offer</button>
            </div>
          
        </div>
    </div>
</div>
</section>
